body {
  background-color: #ffffff;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.recipe {
  margin: auto;
}

.recipe-head {
  text-align: center;
}

img {
  width: 60%;
  height: 60%;
}

h2 {
  margin-bottom: 50px;
}

.recipe-description {
  margin-left: 10%;
}

li {
  margin-bottom: 15px;
}

.time,
.health,
.summary {
  margin-left: 3%;
}

.ingredients,
.equipments,
.instructions,
.time,
.cuisines,
.dish-types,
.diets,
.health,
.summary {
  margin-bottom: 3em;
}
